<article class="product-card">
  <a href="{{ product.url }}">
    <img src="{{ product.featured_image | img_url: 'medium' }}" alt="{{ product.title }}">
    <h3>{{ product.title }}</h3>
    <div class="price">{{ product.price | money }}</div>
  </a>
</article>
